.who{
    color: white;
    border-bottom: solid 2px;
    border-width: 20%;
    border-color: white;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 2%;
    margin-right: 40%;
    text-align: left; 
  }
  body{
    align-items: left;
  }
  /*
  .principal {
    position: relative;
    text-align: left;
    margin-bottom: 5%;
  }
  .principal p{
    position: relative;
    z-index: 1;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  .principal img{
    width: 30%;
    float: left;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: -0.1%;
    z-index: 2;
  }
  .president {
    position: relative;
    text-align: left;
    margin-bottom: 5%;
  }
  .president p{
    position: relative;
    z-index: 1;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  .president img{
    width: 30%;
    float: left;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: -0.1%;
    z-index: 2;
  } */
  .crew {
    margin: 20px;
  }
  .Us {
    display: inline-block;
    width: 300px;
    margin-bottom: 50px;
  }
.Us img{
  width: 200px;
  height: 200px;
  position: relative;
  margin:5%;
  object-fit:cover;
}
.member {
  position: relative;
  white-space: normal;
  font-size: 20px;
  text-align: center;
  margin: 5%;
}