/* overall */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
}

body {
  background-color: black;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;

}

/* Navigation.js */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* home.js */
.backgroundImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/* home.js section3 */
#three {
  justify-content: column;
}

#section3_title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 70px 0 70px 0;
}

#section3_content {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: nowrap;
}

.item { 
  width: 400px;
  height: 600px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 25px 0 25px;
  background-color: white;
}
#item1 {
  background-image: url('https://media.euobserver.com/e0e217ad29a2887c28b3732eeef3ee98.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item:hover {
  box-shadow: 5px 5px;
}

@media screen and (max-width: 1000px) {
  .item {
    width: 200px;
    height: 300px;
  }
  
}

/* student.js */
.banner img {
  width: 100%;
  max-height: 100px;
  margin: 20px 0;
  object-fit: cover;
  opacity: 50%;
}

.banner h2 {
  position: relative;
  top: -90px;
  z-index: 3;
  background-color: #ffffff00;
}

.trinity {
  width: 330px;
  height: 330px;
  border: 1px solid #CCC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.trinity h3 {
  position: relative;
  top: 45%;
  background-color:#ffffff00;
}

.student {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position:absolute;
  overflow: hidden;
}
.student img{
  height: 40px;
  width: 40px;
  margin-top: 7px;
  background-color:#ffffff00;
}
.student a h6 {
  position: absolute;
  top: 50%;
  background-color: #ffffff00;
  color: black;
}



#council {
  bottom: 0;
}
#congress {
  transform: rotate(200deg) translate(-290px) rotate(-200deg);
}
#court {
  transform: rotate(135deg) translate(-100px) rotate(-135deg); 
}

.circle {
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@media screen and (max-width: 400px) {
  .trinity {
    width: 250px;
    height: 250px;
  }
  .student {
    width: 80px;
    height: 80px;
  }
  #congress {
    transform: rotate(200deg) translate(-220px) rotate(-200deg);
  }
  .student img{
    height: 30px;
    width: 30px;
  }
  .student h6{
    font-size: 13px;
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-125px) rotate(0deg);
  
    }
  
    100% {
      transform: rotate(360deg) translate(-125px) rotate(-360deg);
    }
  }
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup a {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: opacity 500ms;
}

.popup p {
  color: black;
  text-align: left;
  background-color: white;
}

/*Recent News*/
#item1 h2 {
  padding: 20px;
  border-bottom: solid 1px black;
  background-color: rgba(204, 204, 204, 0);
  text-align: left;
  color: black;
}

#item1 p{
  padding: 20px;
  background-color: #282c3400;
  text-align: left;
  color: black;
  font-size: 1vw;
 }

 #item3 h2{
  padding: 20px;
  border-bottom: solid 1px black;
  background-color: rgba(204, 204, 204, 0);
  text-align: left;
  color: black;
}

#item3 p{
  padding: 20px;
  background-color: #282c3400;
  text-align: left;
  color: black;
  font-size: 1vw;
 }


/*section4*/

#wrapper{
  width: 100%;
  margin: 0 auto;
}

.content{
  float: left;
  width: 750px;
  height: 600px;
  background-image: url(https://media.istockphoto.com/photos/back-view-of-elementary-students-raising-their-arms-on-a-class-picture-id1000887536?b=1&k=20&m=1000887536&s=612x612&w=0&h=bdF4lQZ9OS7Fih-P7OEj_WLiYmrnSQtNKAjC6U2wZx0=);
  background-size: 750px 600px;
}

.content p{
  font-size: 1.5em;
  text-align: center;
  line-height: 550px;
  background-color: #282c3400;
}

.right-side{
  float: right;
  width: 690px;
  height: 320px;
  background-image: url(https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Nob29sc3xlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: 690px 320px;
}
.right-side p{
  font-size: 1.5em;
  text-align: center;
  line-height: 320px;
  background-color: #282c3400;
}
footer{
  float: right;
  width: 690px;
  height: 280px;
  margin-bottom: 100px;
  background-image: url(https://img.freepik.com/free-vector/high-school-concept-illustration_114360-8279.jpg?w=2000);
  background-size: 690px 280px;
}
footer p{
  font-size: 1.5em;
  text-align: center;
  line-height: 240px;
  background-color: #282c3400;
}