/* overall */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
}

body {
  background-color: black;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;

}

/* Navigation.js */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* home.js */
.backgroundImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/* home.js section3 */
#topbox {
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 70px 0 70px 0;
}

#imgbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imgbox div {
  position: relative;
  border: 3px solid black;
  width: 25vw;
  height: 33vw;
  margin: 0 5vw 0 5vw;
  background-color: white;
}

#imgbox div:hover {
  box-shadow: 5px 5px;
}

#imgbox div p {
  margin: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: inherit;

}
#bottombox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;

}

/* student.js */
.banner img {
  width: 100%;
  max-height: 100px;
  margin: 20px 0;
  object-fit: cover;
  opacity: 50%;
}

.banner h2 {
  position: relative;
  top: -90px;
  z-index: 3;
  background-color: #ffffff00;
}

.trinity {
  width: 330px;
  height: 330px;
  border: 1px solid #CCC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.trinity h3 {
  position: relative;
  top: 45%;
  background-color:#ffffff00;
}

.student {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position:absolute;
  overflow: hidden;
}
.student img{
  height: 40px;
  width: 40px;
  margin-top: 7px;
  background-color:#ffffff00;
}
.student h6 {
  position: absolute;
  top: 50%;
  background-color: #ffffff00;
  color: black;
}

#council {
  bottom: 0;
}
#congress {
  transform: rotate(200deg) translate(-290px) rotate(-200deg);
}
#court {
  transform: rotate(135deg) translate(-100px) rotate(-135deg); 
}

.circle {
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@media screen and (max-width: 400px) {
  .trinity {
    width: 250px;
    height: 250px;
  }
  .student {
    width: 80px;
    height: 80px;
  }
  #congress {
    transform: rotate(200deg) translate(-220px) rotate(-200deg);
  }
  .student img{
    height: 30px;
    width: 30px;
  }
  .student h6{
    font-size: 13px;
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-125px) rotate(0deg);
  
    }
  
    100% {
      transform: rotate(360deg) translate(-125px) rotate(-360deg);
    }
  }
}