/* overall */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
}

body {
  background-color: black;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;

}

/* Navigation.js */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* home.js */
.backgroundImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/* student.js */
.banner img {
  width: 100%;
  max-height: 100px;
  margin: 20px 0;
  object-fit: cover;
  opacity: 50%;
}

.banner h2 {
  position: relative;
  top: -90px;
  z-index: 3;
  background-color: #ffffff00;
}

.trinity {
  width: 330px;
  height: 330px;
  border: 1px solid #CCC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.trinity h3 {
  position: relative;
  top: 45%;
  background-color:#ffffff00;
}

.student {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position:absolute;
  overflow: hidden;
}
.student img{
  height: 40px;
  width: 40px;
  margin-top: 7px;
  background-color:#ffffff00;
}
.student h6 {
  position: absolute;
  top: 50%;
  background-color: #ffffff00;
  color: black;
}

#council {
  bottom: 0;
}
#congress {
  transform: rotate(200deg) translate(-290px) rotate(-200deg);
}
#court {
  transform: rotate(135deg) translate(-100px) rotate(-135deg); 
}

.circle {
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@media screen and (max-width: 400px) {
  .trinity {
    width: 250px;
    height: 250px;
  }
  .student {
    width: 80px;
    height: 80px;
  }
  #congress {
    transform: rotate(200deg) translate(-220px) rotate(-200deg);
  }
  .student img{
    height: 30px;
    width: 30px;
  }
  .student h6{
    font-size: 13px;
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-125px) rotate(0deg);
  
    }
  
    100% {
      transform: rotate(360deg) translate(-125px) rotate(-360deg);
    }
  }
}


/* Footer */
.footer{
  width: 100vw;
  height: 327px;
  bottom: 0;
  border-top: solid 5px white;
  display: flex;
  justify-content: space-around;
}

.first{
  text-align: left;
  padding-top: 30px;
}

.first p{
  padding-bottom: 30px;
}

.last{
  text-align: right;
}

.last p{
  padding-top: 30px;
}

.SGlogo {
  width: 80px;
}
.envelope{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 400px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.insta{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 300px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.image13{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 200px;
  padding-bottom: 30px;
}

.설국다움{
  position: absolute;
  bottom: 300px;
  right: 250px;
  width: 50px;
  height: 30px;
}


  /* 
.first{
  position: absolute;
  width: 988px;
  height: 36px;
  left: 227px;
  bottom: 300px;
  text-align: left;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.last p{
  position: absolute;
  width: 163px;
  height: 36px;
  left: 1052px;
  bottom: 300px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  color: #FFFFFF;
}

.envelope{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1085px;
  bottom: 300px;
}

.insta{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1135px;
  bottom: 300px;
}

.image13{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1185px;
  bottom: 300px;
}

.설국다움{
  position: absolute;
  width: 164px;
  height: 85px;
  left: 1085px;
  bottom: 300px;
} */
