body{
    background-color: black;
    color: white;
}
h2{
    background-color: rgba(255, 255, 255, 0);
}
.category1{
    border-bottom: 2px solid;
    border-width: 40%;
    border-color: white;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right:300px;
    margin-left: 30px;
    margin-right: 40%;
    float: left;
}

.category2{
    border-bottom: solid 2px;
    border-width: 20%;
    border-color: white;
    padding-right:300px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 120px;
    margin-left: 30px;
    margin-right: 40%;
    float: left;
}

.list1 li{
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 140px;
    list-style-type: disc;
    font-size: large;
    text-align: left;
    background-color: rgba(240, 248, 255, 0);
}
.list2 li{
    margin-left: 40px;
    padding-top: 70px;
    list-style-type: disc;
    font-size: large;
    text-align: left;
    background-color: rgba(240, 248, 255, 0);
}
.sub-category{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}
.sub-category div{
    border: 2px white solid;
    width: 290px;
    height: 290px;
    margin: 1%;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}
.sub-category h2{
    text-align: center;
    position: relative;
	top: -55%;
    font-size: 20px;
    font-weight: bold;
}
.sub-category img{
    width: 95%;
    height: 95%;
    margin: 2.5%;
	vertical-align: middle;
    opacity: 50%;
}
