.club-detail-name {
  margin-top: 5%;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-top: 2%;
  margin-right: 40%;
  text-align: left; 
}

.club-detail-img {
background-color: #C7C7C7;
width: 600px;
height: 600px;
float: left;
position: relative;
z-index: 100000000;
margin-left: 5%;
margin-right: 3%;
margin-top: 5%;
}
.club-detail-explain {
  margin-top: 5%;
  margin-bottom:2%;
  font-size: 5vw;
  position: relative;
margin-left: 6%;
margin-right: 5%;
word-break:break-all;
background-color: none;
}

.club-explain p{
position: relative;
margin-left: 6%;
margin-right: 5%;
word-break:break-all;
background-color: none;
}
.club-detail-member{
  margin-top:3%;
  float:right;
  font-size: 1.3vw;
  position: relative;
  margin-right: 5%;
  word-break:break-all;
  background-color: none;
  }
.club-detail-date{
  margin-top: 3%;
  margin-left: -10%;
  font-size: 1.5vw;
  color: gray;
float: left;
position: relative;
background-color: none;
}
.club-explain{
  margin-bottom: 5%;
}

.sticker1{
background-color: #C7C7C7;
margin: 24px auto;
margin-top: 5%;
width: 400px;
height: 400px;
}
.club-wrap {

margin-left: 5%;
margin-right: 5%;
display: flex;
flex-wrap: wrap;
}

.club-detail-activity-name{
  position:relative;
      border-bottom: solid 2px;
      border-width: 20%;
      border-color: white;
      padding-bottom: 2px;
      padding-left: 20px;
      padding-top: 2%;
      margin-right: 40%;
      margin-top:10%;
      text-align: left; 
}
.club-detail-activity p{
margin-bottom: -3%;
position: relative;
margin-left: 6%;
margin-right: 5%;
word-break:break-all;
background-color: none;
}
.club-detail-line{
margin-left: 8%;
margin-right: 8%;
  text-align: center;
  border-bottom: 3px gray solid;
  margin-top: 7%;
  margin-bottom:1%;
}