
body{
    border: none;
}
h2{
    text-align: left;
    font-size: 70px;
    padding-left: 10%;
    padding-bottom: 20px;
}
.inf-faq{
    position: relative;
    margin: 0 25% 30px 25%;
    max-width: 50%;
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
}
.link-in{
    position: absolute;
    height: 60px;
    width: 18%;
    text-align: center;
    margin-left: 30%;
    color: black;
    font-size: 20px;
    line-height: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
}
.link-out{
    position: absolute;
    height: 60px;
    width: 18%;
    text-align: center;
    margin-left: 50%;
    color: black;
    font-size: 20px;
    line-height: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
}
.faq-line{
    text-align: center;
    border-bottom: 1px white solid;
    margin-top: 160px;
}
details{
    display: flex;
    position: relative;
}
summary{
    outline: none;
    text-align:left;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    position: relative;
}
summary:hover{
    margin-top: 0.1%;
    background-color: rgba(255, 255, 255, 0.885);
    color: black;
}
.active p{
    text-align: left;
    padding-top:2%;
    position: relative; 
}
#title{
    margin-top: 30px;
    font-weight: 700;
}
#a{
    position: relative;
  font-size: 20px;
  text-align:left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: grey;
  padding: 30px 10px 30px 10px;
}
details > summary {
  list-style: none;
}
