
body{
    border: none;
}
.question{
    text-align: left;
    font-size: 70px;
    padding-left: 10%;
    padding-bottom: 100px;
}

.info{
    margin-bottom: 0px;
}

.inf-faq{
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 35px;
}
.inf-faq span{
    font-size: 25px;
}

.option{
    position: absolute;
    margin-top: 20%;
}
.link-in{
    position: absolute;
    text-align: center;
    margin-top: 10%;
    margin-left: 21%;
    color: black;
    font-size: 40px;
    background-color: white;
    padding: 6%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5%;
    

}
.link-out{
    position: absolute;
    margin-top: 10%;
    margin-left: 52%;
    color: black;
    font-size: 40px;
    background-color: white;
    padding: 6%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5%;
}
.faq-line{
    text-align: center;
    border-bottom: 3px white solid;
    width: 90%;
    padding: 1%;
    margin-left: 5%;
    padding-top: 23%;
}

summary{
    outline: none;
  text-align:left;
  font-size: 40px;
  margin-left: 128px;
  padding-top: 20px;
  padding-bottom: 20px;
}
p{
    text-align: left;
    padding-top:2%;
}
#title{
  padding-top: 30px;
  font-size: 64px;
  margin-left: 96px;
}
#a{
  font-size: 36px;
  text-align:left;
  margin-left: 128px;
  margin-right: 128px;
  background-color: grey;
  padding: 30px 10px 30px 10px;
  border-radius: 20px;
}
details > summary {
  list-style: none;
}
.school{
 position: absolute; 
 margin-top: 30%;  
}

.dorm{
  position: absolute;
  margin-top: 90%;
}

.activity{
    position: absolute;
    margin-top: 150%;
}