.student-detail-name {
        border-bottom: solid 2px;
        border-width: 20%;
        border-color: white;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-top: 2%;
        margin-right: 40%;
        text-align: left; 
        margin-bottom: 5%;
}
.Congress-explain{
    margin-top: 3%;
}
.Congress-explain img {
    background-color: #C7C7C7;
    width: 420px;
    height: 420px;
    float: left;
    position: relative;
    z-index: 100000000;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3%;
}
.Congress-explain p{
    position: relative;
    margin-left: 6%;
    margin-right: 5%;
    word-break:break-all;
    background-color: none;
}

.sticker1{
  background-color: #C7C7C7;
  margin: 24px auto;
  width: 420px;
  height: 420px;
}
.wrap {
    margin-left: 2%;
    margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
}

.council-button-detail{
    background-color: white;
    color: black;
}
